body {	
	background-image: url(../images/background.png);
	-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
#wrapper {
	max-width: 960px;
	margin: auto;
}

header {
	padding: 20px 0;
}
form[name="email"] {
	float: right;
}
nav a {
	text-decoration: none;
	hover: #c5541b;	
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style-position: inside;
	font: 16px 'Roboto', sans-serif;
	font-weight: bold;
	padding: 10px;
}

.top-menu li {
	display: inline-block;
	padding: 15px 30px;
	background-color: #ffffff;
	background-size: cover;
	margin: 0;
}

.top-menu li:hover {
	background: #c5541b;
}

.top-menu li.active {
	background: #c5541b;
	color: #fff;
}

.top-menu a {
	color: #656161;
}

heading {
	color: #dbdbdb;
	font-size: 11px;
}
#heading {
	
	background-image: url(../images/people_logo.png);	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 1440px;
	margin: auto;
	padding: 1px;
	height: 200px;
}
h1 {
	
	color: #fff;
	font: 15px 'Roboto', sans-serif;	
	height: 100%;
	width: 100%;
	text-align: center;
}

aside {
	float: left;
	width: 250px;
	padding-bottom: 100px;
}
.news {
	width: 572px;
	height: 115px;
	background: url(../images/news_logo.png) no-repeat;
	background-size: cover;
	display: inline-block;
	margin: 5px;
}
.google_news {
	width: 572px;
	height: 295px;
	background: url(../images/google_text.png) no-repeat;
	background-size: cover;
	display: inline-block;
	margin: 5px;
}
section {
	margin-left: 780px;
	padding-bottom: 300px;	
}
.advertisement {
	width: 180px;
	height: 610px;
	background: url(../images/advertisement.png) no-repeat;
	background-size: cover;
	display: inline-block;
	margin: 5px;	
}

#footer_bar {
	
	background-image: url(../images/footer.png);	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 1440px;	
	margin: auto;
	padding: 10px 0;
	height: 50px;
}
.footer_bar {
	
		
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 960px;
	color: #656161;
	font: 13px 'Roboto', sans-serif;	
	
}
.fb {

}

.facebook {
	background-position: -30px 0;
}

.google-plus {
	background-position: -60px 0;
}

.vimeo {
	background-position: 0 0;
}

.youtube {
	background-position: -16px 0;
}

.flickr {
	background-position: -32px 0;
}

.instagram {
	background-position: -48px 0;
}

.rss {
	background-position: -64px 0;
}

